* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

::-webkit-scrollbar {
  width: 6px;
}
::-webkit-scrollbar-track {
  border-radius: 10px;
}
::-webkit-scrollbar-thumb {
  background: #ffffff;
  border-radius: 10px;
  height: 150px;
}
::-webkit-scrollbar-thumb:hover,
::-webkit-scrollbar-thumb :active {
  background: rgb(158, 158, 158);
}

::-webkit-scrollbar-thumb:hover,
::-webkit-scrollbar-thumb:active {
  background: rgb(158, 158, 158);
}

html {
  height: 6000px;
  width: 100%;
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
  font-family: "Poppins", sans-serif;
  color: #ffffff;
}

body {
  height: 100%;
  background: #0c0911;
  overflow: overlay;
}

.header {
  display: flex;
  align-items: center;
  width: 100%;
  position: fixed;
  z-index: 100;
  background-color: rgba(109, 109, 109, 0.1);
  -webkit-backdrop-filter: blur(10px);
          backdrop-filter: blur(10px);
  box-shadow: 0 6px 6px 0px rgba(0, 0, 0, 0.2039215686);
}

@media (max-width: 767px) {
  .header {
    height: 100px;
  }
}
.header__item {
  text-align: center;
  margin-top: 1rem;
  margin-bottom: 1rem;
}
.header__item a {
  display: block;
  width: 100%;
  padding: 10px 25px;
  background-color: transparent;
  text-decoration: none;
  letter-spacing: 2px;
  font-family: "Poppins", sans-serif;
  font-size: 1rem;
  font-weight: 500;
  color: #ffffff;
  border-bottom: 1px solid #f2f2f2;
  transition: transform 0.2s ease-out;
}
.header__item a:hover {
  transform: scale(1.1);
  border-bottom: 2px solid #f2f2f2;
}
.header__item__CTA {
  margin-top: 1rem;
  margin-bottom: 1rem;
  filter: brightness(1.4);
}
.header__item__CTA a {
  display: block;
  width: 100%;
  padding: 1rem 2rem;
  text-decoration: none;
  letter-spacing: 2px;
  font-family: "Poppins", sans-serif;
  font-size: 1rem;
  font-weight: 500;
  color: #ffffff;
  padding: 10px 25px;
  background: linear-gradient(135deg, rgba(184, 115, 51, 0.2) 20%, rgba(94, 0, 255, 0.2) 70%, rgba(0, 202, 255, 0.2) 100%);
  border: 2px solid #ff0044;
  border-image-source: linear-gradient(135deg, rgb(184, 115, 51) 20%, rgb(94, 0, 255) 70%, rgb(0, 202, 255) 100%);
  border-image-slice: 4;
  overflow: hidden;
  transform: scale(1);
  transition: all 0.2s ease-out;
}
.header__item__CTA a:hover {
  transform: scale(1.1);
  background-color: rgba(255, 255, 255, 0.2);
}

@media (min-width: 768px) {
  .header {
    justify-content: space-evenly;
  }
}
@media (max-width: 767px) {
  .header {
    justify-content: center;
  }
}
.background__container {
  display: flex;
}
.background__video {
  position: relative;
  margin-right: -100%;
  flex: 0 0 auto;
  width: 100%;
  z-index: 2;
  filter: brightness(0.8) blur(4px);
}

.background__overlay {
  position: relative;
  margin-right: -100%;
  flex: 0 0 auto;
  width: 100%;
  z-index: 3;
}
.background__overlay__container {
  padding-right: 6.5rem;
  padding-left: 6.5rem;
  margin-right: auto;
  margin-left: auto;
  width: 100%;
  height: 100%;
}

.background__info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  height: 100%;
}
.background__info__name {
  margin-top: 4rem;
}
.background__info__name p {
  color: #f2f2f2;
  font-size: 8vw;
}
.background__info a {
  padding-top: 10rem;
  margin-right: 3rem;
  text-align: center;
}
.background__info a span {
  position: absolute;
  width: 48px;
  height: 48px;
  z-index: 10;
  border-left: 3px solid #fff;
  border-bottom: 3px solid #fff;
  transform: rotate(-45deg);
  animation: sdb05 1.5s infinite;
}
@keyframes sdb05 {
  0% {
    transform: rotate(-45deg) translate(0, 0);
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    transform: rotate(-45deg) translate(-20px, 20px);
    opacity: 0;
  }
}
#skills {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.skills__heading {
  display: block;
  font-size: 4rem;
  letter-spacing: 3px;
  margin-top: 4rem;
}

#projects {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.projects__heading {
  display: block;
  font-size: 4rem;
  letter-spacing: 3px;
  margin-top: 4rem;
}

.reveal {
  position: relative;
  transform: translateY(150px);
  opacity: 0;
  transition: 1s all ease;
}
.reveal.active {
  transform: translateY(0);
  opacity: 1;
}

.col-1 {
  margin-top: 4rem;
}

.col-2,
.col-3 {
  margin-top: 12rem;
}

.col-3 {
  margin-bottom: 8rem;
}

@media (min-width: 768px) {
  .col {
    width: 80%;
  }
}
@media (max-width: 767px) {
  .col {
    width: 90%;
  }
}
.project {
  text-align: center;
  color: #eeeeee;
}
.project:before {
  border-radius: 18px;
}
.project:after {
  border-radius: 18px;
}
.project__content {
  padding: 4rem 1rem;
  height: 600px;
  background-color: #150f1e !important;
  border-radius: 14px;
}
.project__title {
  font-size: 1.25rem;
  padding: 0.5rem;
}

/* custom colors for each project element */
.project-1:before {
  background-color: #b87333 !important;
}
.project-1:after {
  background-color: rgba(184, 115, 51, 0.2) !important;
}

.project-2:before {
  background-color: #5e00ff !important;
}
.project-2:after {
  background-color: rgba(94, 0, 255, 0.2666666667) !important;
}

.project-3:before {
  background-color: #00caff !important;
}
.project-3:after {
  background-color: rgba(0, 204, 255, 0.1921568627) !important;
}

[class*=stacked-] {
  position: relative;
  transition: transform 0.2s ease-in-out;
  will-change: transform;
}

[class*=stacked-]:before,
[class*=stacked-]:after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: currentColor;
  transition: transform 0.2s ease-in-out;
}

[class*=stacked-]:before {
  z-index: -1;
}

[class*=stacked-]:after {
  z-index: -2;
}

.stacked-bottom-right:hover {
  transform: translate(-7px, -7px);
}

.project-1:hover:before {
  transform: translate(7px, 7px);
  box-shadow: 10px 10px 30px rgba(184, 115, 51, 0.2);
}
.project-1:hover:after {
  transform: translate(14px, 14px);
}

.project-2:hover:before {
  transform: translate(7px, 7px);
  box-shadow: 10px 10px 30px rgba(93, 0, 255, 0.4392156863);
}
.project-2:hover:after {
  transform: translate(14px, 14px);
}

.project-3:hover:before {
  transform: translate(7px, 7px);
  box-shadow: 10px 10px 30px rgba(0, 204, 255, 0.1843137255);
}
.project-3:hover:after {
  transform: translate(14px, 14px);
}/*# sourceMappingURL=index.css.map */