* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
::-webkit-scrollbar {
  width: 6px;
  &-track {
    border-radius: 10px;
  }
  &-thumb {
    background: #ffffff;
    border-radius: 10px;
    height: 150px;
    &:hover,
    :active {
      background: rgb(158, 158, 158);
    }
  }
}
::-webkit-scrollbar-thumb:hover,
::-webkit-scrollbar-thumb:active {
  background: rgb(158, 158, 158);
}
html {
  height: 6000px;
  width: 100%;
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
  font-family: "Poppins", sans-serif;
  color: #ffffff;
}
body {
  height: 100%;
  background: #0c0911;
  overflow: overlay;
}
.header {
  display: flex;
  align-items: center;
  width: 100%;
  position: fixed;
  z-index: 100;
  background-color: rgba(109, 109, 109, 0.1);
  backdrop-filter: blur(10px);
  box-shadow: 0 6px 6px 0px #00000034;
}
@media (max-width: 767px) {
  .header {
    height: 100px;
  }
}
.header__item {
  text-align: center;
  margin-top: 1rem;
  margin-bottom: 1rem;
  a {
    display: block;
    width: 100%;
    padding: 10px 25px;
    background-color: transparent;
    text-decoration: none;
    letter-spacing: 2px;
    font-family: "Poppins", sans-serif;
    font-size: 1rem;
    font-weight: 500;
    color: #ffffff;
    border-bottom: 1px solid #f2f2f2;
    transition: transform 0.2s ease-out;
    &:hover {
      transform: scale(1.1);
      border-bottom: 2px solid #f2f2f2;
    }
  }
  &__CTA {
    margin-top: 1rem;
    margin-bottom: 1rem;
    filter: brightness(1.4);
    a {
      display: block;
      width: 100%;
      padding: 1rem 2rem;
      text-decoration: none;
      letter-spacing: 2px;
      font-family: "Poppins", sans-serif;
      font-size: 1rem;
      font-weight: 500;
      color: #ffffff;
      padding: 10px 25px;
      background: linear-gradient(
        135deg,
        rgba(184, 115, 51, 0.2) 20%,
        rgba(94, 0, 255, 0.2) 70%,
        rgba(0, 202, 255, 0.2) 100%
      );
      border: 2px solid #ff0044;
      border-image-source: linear-gradient(
        135deg,
        rgba(184, 115, 51, 1) 20%,
        rgba(94, 0, 255, 1) 70%,
        rgba(0, 202, 255, 1) 100%
      );
      border-image-slice: 4;
      overflow: hidden;
      transform: scale(1);
      transition: all 0.2s ease-out;
      &:hover {
        transform: scale(1.1);
        background-color: rgba(255, 255, 255, 0.2);
      }
    }
  }
}
@media (min-width: 768px) {
  .header {
    justify-content: space-evenly;
  }
}
@media (max-width: 767px) {
  .header {
    justify-content: center;
  }
}

.background {
  &__container {
    display: flex;
    width: 100%;
    height: 100%;
    z-index: 2;
  }
  &__image {
    position: relative;
    overflow: hidden;
    max-width: 100%;
    z-index: -5;
    -webkit-filter: blur(2px);
    filter: brightness(0.9) blur(2px);
    mask-image: linear-gradient(
      to bottom,
      rgba(0, 0, 0, 1) 70%,
      rgba(0, 0, 0, 0.3) 80%,
      rgba(0, 0, 0, 0)
    );
  }
  &__video {
    position: relative;
    flex: 0 0 auto;
    z-index: 2;
    -webkit-filter: blur(1px);
    filter: brightness(0.8) blur(1px);
    mask-image: linear-gradient(
      to bottom,
      rgba(0, 0, 0, 1) 40%,
      rgba(0, 0, 0, 0.5) 70%,
      rgba(0, 0, 0, 0)
    );
  }
}
.background__overlay {
  position: absolute;
  width: 100%;
  height: auto;
  z-index: 3;
}
.background__info {
  display: flex;
  margin-top: 15%;
  margin-bottom: 20%;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  height: 100%;
  &__name {
    text-shadow: #222222 5px 5px 20px;
    color: #f2f2f2;
    width: 100%;
    font-size: 10rem;
  }
  a {
    margin-right: 3rem;
    margin-top: 15rem;
    text-align: center;
    span {
      position: absolute;
      width: 48px;
      height: 48px;
      z-index: 10;
      border-left: 3px solid #fff;
      border-bottom: 3px solid #fff;
      -webkit-transform: rotate(-45deg);
      transform: rotate(-45deg);
      -webkit-animation: sdb05 1.5s infinite;
      animation: sdb05 1.5s infinite;
    }
  }
}
@-webkit-keyframes sdb05 {
  0% {
    -webkit-transform: rotate(-45deg) translate(0, 0);
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    -webkit-transform: rotate(-45deg) translate(-20px, 20px);
    opacity: 0;
  }
}
@keyframes sdb05 {
  0% {
    transform: rotate(-45deg) translate(0, 0);
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    transform: rotate(-45deg) translate(-20px, 20px);
    opacity: 0;
  }
}
// Sec
@mixin section__theme {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}
@mixin section__heading {
  display: block;
  font-size: 4rem;
  letter-spacing: 3px;
  margin-top: 4rem;
}
#skills {
  @include section__theme;
}
.skills__heading {
  @include section__heading;
}
#projects {
  @include section__theme;
}
.projects__heading {
  @include section__heading;
}
.reveal {
  position: relative;
  transform: translateY(150px);
  opacity: 0;
  transition: 1s all ease;
  &.active {
    transform: translateY(0);
    opacity: 1;
  }
}
.col-1 {
  margin-top: 4rem;
}
.col-2,
.col-3 {
  margin-top: 12rem;
}
.col-3 {
  margin-bottom: 8rem;
}
@media (min-width: 768px) {
  .col {
    width: 80%;
  }
}
@media (max-width: 767px) {
  .col {
    width: 90%;
  }
}
.project {
  text-align: center;
  color: #eeeeee;
  &:before {
    border-radius: 18px;
  }
  &:after {
    border-radius: 18px;
  }
  &__content {
    padding: 4rem 1rem;
    height: 600px;
    background-color: #150f1e !important;
    border-radius: 14px;
  }
  &__title {
    font-size: 1.25rem;
    padding: 0.5rem;
  }
}
/* custom colors for each project element */
.project-1 {
  &:before {
    background-color: #b87333 !important;
  }
  &:after {
    background-color: #b8733333 !important;
  }
}
.project-2 {
  &:before {
    background-color: #5e00ff !important;
  }
  &:after {
    background-color: #5e00ff44 !important;
  }
}
.project-3 {
  &:before {
    background-color: #00caff !important;
  }
  &:after {
    background-color: #00ccff31 !important;
  }
}
[class*="stacked-"] {
  position: relative;
  transition: transform 0.2s ease-in-out;
  will-change: transform;
}
[class*="stacked-"]:before,
[class*="stacked-"]:after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: currentColor;
  transition: transform 0.2s ease-in-out;
}
[class*="stacked-"]:before {
  z-index: -1;
}
[class*="stacked-"]:after {
  z-index: -2;
}
.stacked-bottom-right:hover {
  transform: translate(-7px, -7px);
}
.project-1:hover {
  &:before {
    transform: translate(7px, 7px);
    box-shadow: 10px 10px 30px #b8733333;
  }
  &:after {
    transform: translate(14px, 14px);
  }
}
.project-2:hover {
  &:before {
    transform: translate(7px, 7px);
    box-shadow: 10px 10px 30px #5d00ff70;
  }
  &:after {
    transform: translate(14px, 14px);
  }
}
.project-3:hover {
  &:before {
    transform: translate(7px, 7px);
    box-shadow: 10px 10px 30px #00ccff2f;
  }
  &:after {
    transform: translate(14px, 14px);
  }
}
