* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
::-webkit-scrollbar {
  width: 6px;
  &-track {
    border-radius: 10px;
  }
  &-thumb {
    background: #ffffff;
    border-radius: 10px;
    height: 150px;
    &:hover,
    :active {
      background: rgb(158, 158, 158);
    }
  }
}
::-webkit-scrollbar-thumb:hover,
::-webkit-scrollbar-thumb:active {
  background: rgb(158, 158, 158);
}
html {
  height: 6000px;
  width: 100%;
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
  font-family: "Poppins", sans-serif;
  color: #ffffff;
}
body {
  height: 100%;
  background: #0c0911;
  overflow: overlay;
}
.header {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 100%;
  height: 8vh;
  position: fixed;
  padding: 2rem 4rem;
  z-index: 100;
  background-color: rgba(109, 109, 109, 0.1);
  backdrop-filter: blur(4px);
  box-shadow: 0 6px 6px 0px #00000034;
}
@media (max-width: 600px) {
  .header {
    height: 100px;
  }
}
.header__item {
  text-align: center;
  a {
    display: block;
    padding: 10px 25px;
    background-color: transparent;
    text-decoration: none;
    letter-spacing: 2px;
    font-family: "Poppins", sans-serif;
    font-size: 15px;
    font-weight: 500;
    color: #ffffff;
    border-bottom: 1px solid #f2f2f2;
    transition: transform 0.2s ease-out;
    &:hover {
      transform: scale(1.1);
      border-bottom: 2px solid #f2f2f2;
    }
  }
  &__CTA {
    a {
      display: block;
      padding: 1rem 2rem;
      text-decoration: none;
      letter-spacing: 2px;
      font-family: "Poppins", sans-serif;
      font-size: 15px;
      font-weight: 500;
      color: #ffffff;
      padding: 10px 25px;
      background: linear-gradient(
        135deg,
        rgba(255, 0, 68, 0.2) 0%,
        rgba(94, 0, 255, 0.2) 50%,
        rgba(0, 202, 255, 0.2) 100%
      );
      border: 2px solid #ff0044;
      border-image-source: linear-gradient(
        135deg,
        rgba(255, 0, 68, 1) 0%,
        rgba(94, 0, 255, 1) 50%,
        rgba(0, 202, 255, 1) 100%
      );
      border-image-slice: 4;
      overflow: hidden;
      transform: scale(1);
      transition: all 0.2s ease-out;
      &:hover {
        transform: scale(1.1);
        background-color: rgba(255, 255, 255, 0.2);
      }
    }
  }
}
.background {
  &__container {
    display: flex;
  }
  &__video {
    position: relative;
    margin-right: -100%;
    flex: 0 0 auto;
    width: 100%;
    z-index: 2;
  }
}
.background__overlay {
  position: relative;
  margin-right: -100%;
  flex: 0 0 auto;
  width: 100%;
  z-index: 3;
  &__container {
    padding-right: 6.5rem;
    padding-left: 6.5rem;
    margin-right: auto;
    margin-left: auto;
    width: 100%;
    height: 100%;
  }
}
.background__info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding-top: 8rem;
  padding-bottom: 8rem;
  height: 100%;
  &__name {
    p {
      color: #f2f2f2;
      font-family: "Sulphur Point", sans-serif;
      font-size: 8vw;
      text-shadow: -4px 4px #222222;
    }
  }
}
#projects {
  display: flex;
  flex-direction: column;
  width: 100%;
  box-shadow: rgba(0, 202, 255, 1);
  z-index: 1;
}
.projects-heading {
  float: left;
  font-size: 4rem;
  letter-spacing: 1px;
  margin-top: 4rem;
  margin-left: 12%;
}
.col {
  margin: auto;
}
@media (min-width: 650px) {
  .col {
    width: 80%;
  }
}
@media (max-width: 650px) {
  .col {
    width: 90%;
  }
}
.reveal {
  position: relative;
  transform: translateY(150px);
  opacity: 0;
  transition: 1s all ease;
  &.active {
    transform: translateY(0);
    opacity: 1;
  }
}
.col-1 {
  margin-top: 4rem;
}
.col-2,
.col-3 {
  margin-top: 12rem;
}
.col-3 {
  margin-bottom: 8rem;
}
.project {
  text-align: center;
  color: #eeeeee;
  &:before {
    border-radius: 18px;
  }
  &:after {
    border-radius: 18px;
  }
  &__content {
    padding: 4rem 1rem;
    height: 600px;
    background-color: #150f1e !important;
    border-radius: 14px;
  }
  &__title {
    font-size: 1.25rem;
    padding: 0.5rem;
  }
}
/* custom colors for each project element */
.project-1 {
  &:before {
    background-color: #b87333 !important;
  }
  &:after {
    background-color: #b8733356 !important;
  }
}
.project-2 {
  &:before {
    background-color: #5e00ff !important;
  }
  &:after {
    background-color: #5e00ff44 !important;
  }
}
.project-3 {
  &:before {
    background-color: #00caff !important;
  }
  &:after {
    background-color: #00ccff31 !important;
  }
}
[class*="stacked-"] {
  position: relative;
  transition: transform 0.2s ease-in-out;
  will-change: transform;
}
[class*="stacked-"]:before,
[class*="stacked-"]:after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: currentColor;
  transition: transform 0.2s ease-in-out;
}
[class*="stacked-"]:before {
  z-index: -1;
}
[class*="stacked-"]:after {
  z-index: -2;
}
.stacked-bottom-right:hover {
  transform: translate(-7px, -7px);
}
.project-1:hover {
  &:before {
    transform: translate(7px, 7px);
    box-shadow: 10px 10px 30px #b8733356;
  }
  &:after {
    transform: translate(14px, 14px);
  }
}
.project-2:hover {
  &:before {
    transform: translate(7px, 7px);
    box-shadow: 10px 10px 30px #5d00ff70;
  }
  &:after {
    transform: translate(14px, 14px);
  }
}
.project-3:hover {
  &:before {
    transform: translate(7px, 7px);
    box-shadow: 10px 10px 30px #00ccff2f;
  }
  &:after {
    transform: translate(14px, 14px);
  }
}
