* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
::-webkit-scrollbar {
  width: 6px;
  &-track {
    border-radius: 10px;
  }
  &-thumb {
    background: #ffffff;
    border-radius: 10px;
    height: 150px;
    &:hover,
    :active {
      background: rgb(158, 158, 158);
    }
  }
}
::-webkit-scrollbar-thumb:hover,
::-webkit-scrollbar-thumb:active {
  background: rgb(158, 158, 158);
}
html {
  height: 6000px;
  width: 100%;
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
  font-family: "Poppins", sans-serif;
  color: #ffffff;
}
body {
  height: 100%;
  background: #0a1914;
  overflow: overlay;
}
// Header styling
.header {
  display: flex;
  align-items: center;
  width: 100%;
  position: fixed;
  z-index: 100;
  background-color: rgba(109, 109, 109, 0.1);
  backdrop-filter: blur(10px);
  box-shadow: 0 6px 6px 0px #00000034;
}
.header__item {
  text-align: center;
  margin-top: 1rem;
  margin-bottom: 1rem;
  a {
    display: block;
    width: 100%;
    padding: 10px 25px;
    background-color: transparent;
    text-decoration: none;
    letter-spacing: 2px;
    font-family: "Poppins", sans-serif;
    font-size: 1rem;
    font-weight: 500;
    color: #ffffff;
    border-bottom: 1px solid #f2f2f2;
    transition: transform 0.2s ease-out;
    &:hover {
      transform: scale(1.1);
      border-bottom: 2px solid #f2f2f2;
    }
  }
  &__CTA {
    margin-top: 1rem;
    margin-bottom: 1rem;
    filter: brightness(1.4);
    a {
      display: block;
      width: 100%;
      padding: 1rem 2rem;
      text-decoration: none;
      letter-spacing: 2px;
      font-family: "Poppins", sans-serif;
      font-size: 1rem;
      font-weight: 500;
      color: #ffffff;
      padding: 10px 25px;
      background: linear-gradient(
        135deg,
        rgba(184, 115, 51, 0.2) 20%,
        rgba(94, 0, 255, 0.2) 70%,
        rgba(0, 202, 255, 0.2) 100%
      );
      border: 2px solid #ff0044;
      border-image-source: linear-gradient(
        135deg,
        rgba(184, 115, 51, 1) 20%,
        rgba(94, 0, 255, 1) 70%,
        rgba(0, 202, 255, 1) 100%
      );
      border-image-slice: 4;
      overflow: hidden;
      transform: scale(1);
      transition: all 0.2s ease-out;
      &:hover {
        transform: scale(1.1);
        background-color: rgba(255, 255, 255, 0.2);
      }
    }
  }
}
// Landing page styling
.background {
  &__container {
    display: flex;
    width: 100%;
    height: 100vh;
    z-index: 2;
  }
  &__image {
    position: relative;
    width: 100%;
    object-fit: cover;
    z-index: -5;
    -webkit-filter: blur(2px);
    filter: brightness(0.9) blur(2px);
    mask-image: linear-gradient(
      to bottom,
      rgba(0, 0, 0, 1) 70%,
      rgba(0, 0, 0, 0.3) 80%,
      rgba(0, 0, 0, 0)
    );
  }
  &__overlay {
    position: absolute;
    width: 100%;
    height: auto;
    z-index: 3;
  }
}
.background__overlay {
  position: absolute;
  width: 100%;
  height: auto;
  z-index: 3;
}
.background__info {
  display: flex;
  margin-top: 15%;
  margin-bottom: 20%;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  height: 100%;
  &__name {
    text-shadow: #222222 5px 5px 20px;
    color: #f2f2f2;
    width: 100%;
    font-size: 10rem;
  }
}
.arrow {
  border-color: transparent;
  border-style: solid;
  border-width: 0 2em;
  display: block;
  height: 0;
  margin-top: 10em;
  opacity: 0.4;
  text-indent: -9999px;
  transform-origin: 50% 50%;
  width: 0;
  -webkit-animation: downarrow 0.6s infinite alternate ease-in-out;
  animation: downarrow 0.6s infinite alternate ease-in-out;
  border-top: 2em solid #f2f2f2;
  @-webkit-keyframes downarrow {
    0% {
      -webkit-transform: translateY(0);
      opacity: 0.4;
    }
    100% {
      -webkit-transform: translateY(0.4em);
      opacity: 0.9;
    }
  }
  @keyframes downarrow {
    0% {
      -webkit-transform: translateY(0);
      opacity: 0.4;
    }
    100% {
      -webkit-transform: translateY(0.4em);
      opacity: 0.9;
    }
  }
}
// Mixins for sections
@mixin section__theme {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}
@mixin section__heading {
  display: block;
  font-size: 4rem;
  letter-spacing: 3px;
  margin-top: 4rem;
}
// Skills section styling
#skills {
  @include section__theme;
}
.skills__heading {
  @include section__heading;
}
// Projects section styling
#projects {
  @include section__theme;
}
.projects__heading {
  @include section__heading;
}
.reveal {
  position: relative;
  transform: translateY(150px);
  opacity: 0;
  transition: 1s all ease;
  &.active {
    transform: translateY(0);
    opacity: 1;
  }
}
.col-1 {
  margin-top: 4rem;
}
.col-2,
.col-3 {
  margin-top: 12rem;
}
.col-3 {
  margin-bottom: 8rem;
}
.project {
  text-align: center;
  color: #eeeeee;
  &:before {
    border-radius: 18px;
  }
  &:after {
    border-radius: 18px;
  }
  &__content {
    padding: 4rem 1rem;
    height: 600px;
    background-color: #102820 !important;
    border-radius: 14px;
  }
  &__title {
    font-size: 1.25rem;
    padding: 0.5rem;
  }
}
.project-1 {
  &:before {
    background-color: #25d062 !important;
  }
  &:after {
    background-color: #25d0612d !important;
  }
}
.project-2 {
  &:before {
    background-color: #5e00ff !important;
  }
  &:after {
    background-color: #5e00ff44 !important;
  }
}
.project-3 {
  &:before {
    background-color: #f2f2f2 !important;
  }
  &:after {
    background-color: #f2f2f234 !important;
  }
}
// Hover effect for projects
[class*="stacked-"] {
  position: relative;
  transition: transform 0.2s ease-in-out;
  will-change: transform;
}
[class*="stacked-"]:before,
[class*="stacked-"]:after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: currentColor;
  transition: transform 0.2s ease-in-out;
}
[class*="stacked-"]:before {
  z-index: -1;
}
[class*="stacked-"]:after {
  z-index: -2;
}
.stacked-bottom-right:hover {
  transform: translate(-7px, -7px);
}
.project-1:hover {
  &:before {
    transform: translate(7px, 7px);
  }
  &:after {
    transform: translate(14px, 14px);
  }
}
.project-2:hover {
  &:before {
    transform: translate(7px, 7px);
  }
  &:after {
    transform: translate(14px, 14px);
  }
}
.project-3:hover {
  &:before {
    transform: translate(7px, 7px);
  }
  &:after {
    transform: translate(14px, 14px);
  }
}
// Media queries
@media (max-width: 768px) {
  .header {
    justify-content: center;
    height: 100px;
  }
  .col {
    width: 90%;
  }
}
@media (min-width: 769px) {
  .header {
    justify-content: space-evenly;
  }
  .col {
    width: 80%;
  }
}
