* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
::-webkit-scrollbar {
  width: 6px;
}
::-webkit-scrollbar-track {
  border-radius: 10px;
}
::-webkit-scrollbar-thumb {
  background: #ffffff;
  border-radius: 10px;
  height: 150px;
}
::-webkit-scrollbar-thumb:hover,
::-webkit-scrollbar-thumb:active {
  background: rgb(158, 158, 158);
}
html {
  height: 9000px;
  width: 100%;
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
  font-family: "Poppins", sans-serif;
  color: #ffffff;
}
body {
  height: 100%;
  background: #141414;
  overflow: overlay;
}
.main-header {
  width: 100%;
  height: 90px;
  position: fixed;
  padding: 8px 16px;
  z-index: 100;
  background-color: rgba(109, 109, 109, 0.1);
  backdrop-filter: blur(3px);
}
.main-header div {
  display: inline-block;
  vertical-align: middle;
}
.main-nav {
  display: flex;
  justify-content: center;
}
.main-nav__items {
  margin: 0;
  padding: 0;
  list-style: none;
}
.main-nav__item {
  display: inline-block;
}
.main-nav__item a {
  display: inline-block;
  text-decoration: none;
  font-family: "Poppins", sans-serif;
  font-size: 15px;
  font-weight: 500;
  color: #ffffff;
  border-radius: 5px;
  margin-right: 20px;
  margin-top: 16px;
  padding: 10px 25px;
  transform: scale(1);
  transition: all 0.1s ease-out;
}
.main-nav__item__button:hover,
.main-nav__item__button:active {
  transform: scale(1.1);
  background-color: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(10px);
}
#main-nav__item--CTA a {
  margin-left: 15px;
  margin-right: 15px;
  background: rgba(255, 255, 255, 0.247);
}
#main-nav__item--CTA a:hover,
#main-nav__item--CTA a:active {
  transform: scale(1.1);
  background-color: green;
}
.spacer {
  width: 100%;
  height: 3300px;
}
#project-heading__scrollto {
  width: 100%;
  height: 300px;
}
.col {
  margin: auto;
}
@media (min-width: 650px) {
  .col {
    width: 80%;
  }
}
.col-1 {
  margin-top: 8rem;
}
.col-2,
.col-3 {
  margin-top: 12rem;
}
.project {
  display: block;
  text-align: center;
  color: #eeeeee;
}
.project .project__content {
  padding: 4rem 1rem;
  height: 500px;
}
.project .project-title {
  font-size: 1.25rem;
  padding: 0.5rem;
}
.project .project__content {
  background-color: #555555 !important;
  border-radius: 18px;
}
.project:before,
.project:after {
  border-radius: 18px;
}
/* custom colors for each project element */
.project-1:before {
  background-color: #ff0044 !important;
}
.project-1:after {
  background-color: #ff004444 !important;
}
.project-2:before {
  background-color: #5e00ff !important;
}
.project-2:after {
  background-color: #5e00ff44 !important;
}
.project-3:before {
  background-color: #00caff !important;
}
.project-3:after {
  background-color: #00ccff31 !important;
}
[class*="stacked-"] {
  position: relative;
  transition: transform 0.2s ease-in-out;
  will-change: transform;
}
[class*="stacked-"]:before,
[class*="stacked-"]:after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: currentColor;
  transition: transform 0.2s ease-in-out;
}
[class*="stacked-"]:before {
  z-index: -1;
}
[class*="stacked-"]:after {
  z-index: -2;
}
/* moves elements on hover */
.stacked-bottom-right:hover {
  transform: translate(-7px, -7px);
}
.project-1:hover:before {
  transform: translate(7px, 7px);
  box-shadow: 10px 10px 30px #ff00443d;
}
.project-2:hover:before {
  transform: translate(7px, 7px);
  box-shadow: 10px 10px 30px #5d00ff70;
}
.project-3:hover:before {
  transform: translate(7px, 7px);
  box-shadow: 10px 10px 30px #00ccff2f;
}
.project-1:hover:after {
  transform: translate(14px, 14px);
}
.project-2:hover:after {
  transform: translate(14px, 14px);
}
.project-3:hover:after {
  transform: translate(14px, 14px);
}
