* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
::-webkit-scrollbar {
  width: 6px;
}
::-webkit-scrollbar-track {
  border-radius: 10px;
}
::-webkit-scrollbar-thumb {
  background: #ffffff;
  border-radius: 10px;
  height: 150px;
}
::-webkit-scrollbar-thumb:hover,
::-webkit-scrollbar-thumb:active {
  background: rgb(158, 158, 158);
}
html {
  height: 9000px;
  width: 100%;
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
}
body {
  height: 100%;
  background: #141414;
  overflow: overlay;
}
.main-header {
  width: 100%;
  position: fixed;
  padding: 8px 16px;
  z-index: 100;
}
.main-header div {
  display: inline-block;
  vertical-align: middle;
}
.main-nav {
  display: inline-block;
  text-align: right;
  width: calc(100% - 60px);
  vertical-align: middle;
}
.main-nav__items {
  margin: 0;
  padding: 0;
  list-style: none;
}
.main-nav__item {
  display: inline-block;
}
.main-nav__item a {
  display: inline-block;
  text-decoration: none;
  font-family: "Poppins", sans-serif;
  font-size: 15px;
  font-weight: 500;
  color: #ffffff;
  border-radius: 5px;
  margin-right: 20px;
  margin-top: 20px;
  padding: 10px 25px;
  transform: scale(1);
  transition: all 0.1s ease-out;
}
#main-nav__item--CTA a {
  margin-left: 15px;
  margin-right: 15px;
  background: linear-gradient(0deg, #00ffff, #ea00ff);
}
.main-nav__item a:hover,
.main-nav__item a:active {
  transform: scale(1.1);
  background-color: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(10px);
}
.main-nav__item--CTA:hover,
.main-nav__item--CTA:active {
  transform: scale(1.05);
}
#particles-js {
  width: 100%;
  height: 9000px;
  z-index: 1;
}
#top-button {
  visibility: hidden;
  position: fixed; /* Fixed/sticky position */
  bottom: 40px; /* Place the button at the bottom of the page */
  right: 60px; /* Place the button 30px from the right */
  z-index: 99; /* Make sure it does not overlap */
  cursor: pointer;
  transition: all 0.5s ease-out;
}
